
.card-name {
    display: flex;
    justify-content: center;
}

.card {
    font-weight: 900;
    color: aliceblue;
    background-color: #666699;
}

/* body {
    color: #222;
    background: #fff;
  }
  a {
    color: #0033cc;
  } */